@import 'mixins';
.navigation{
    @include widthAndHeight(10rem,30vh);
    max-width: 95%;
    display: grid;
    grid-template:  1fr 1fr 1fr / 65% 35% ;
    justify-items: center;
    align-items: center;
    position: fixed;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
    top: 50%;
    margin-top: -12rem;
    z-index: 100;
    transition: 0.5s;
    #email{
        color: blueviolet;
    }
    #codewars{
        color: brown;
    }
    .navIcon{
        font-size: 2rem;
        transition: 0.5s;
        grid-area: 1 / 2 / span 3 / span 1;
    }
    .open{
        transform: rotate(180deg);
    }
    .close{
        transform: rotate(0deg);
    }

}
.navigationClose{
    transform: translateX(-7rem);
    background-color: rgba(255, 255, 255, 0);
}
.navigationOpen{
    transform: translateX(0);
    background-color: white;
    box-shadow: 0 0 3px black;
}