@import 'mixins';
#personal{
    @include widthAndHeight(100%,100vh);
    @include flex(center,center);
    background-color: rgb(102, 117, 253);
    font-family: 'Quicksand', sans-serif;
    #personalContent{
        @include widthAndHeight(80rem,70%);
        max-width: 95%;
        @include grid(25% 75%,100%);
        background-color: rgb(246, 246, 246);
        padding: 2% 5% 5% 5%;
        border-radius: 5px;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
        align-items: center;  
        #personalTitle{
            text-align: center;
            font-size: 3rem;
        }
        #personalText{
            text-align: center;
            font-size: 2rem;
            overflow: scroll;
            scrollbar-width: none;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #personal{
        #personalContent{
            #personalText{
                font-size: 1.5rem;
            }
        }
    }

}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #personal{
        #personalContent{
            #personalText{
                font-size: 1.5rem;
            }
        }
    }
}