@import 'mixins';
#skills{
    @include widthAndHeight(100%,100vh);
    @include flex(center,center);
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    #skillsContent{
        @include widthAndHeight(90%,100%);
        #skillsTitle{
            @include widthAndHeight(100%,10%);
            @include flex(center,center);
            font-size: 3.5rem;
        }
        #technologies{
            @include widthAndHeight(100%,90%);
            display: grid;
            grid-template-columns: repeat(auto-fill,10rem);
            justify-items: center;
            grid-auto-rows: 40%;
            gap: 5%;
            padding: 3% 1% 3% 1%;
            overflow: scroll;
            scrollbar-width: none;
            #htmlIcon {
                color: rgb(231, 123, 0);
            }
            #cssIcon {
                color: rgb(0, 146, 231);
            }
            #jsIcon {
                color: rgb(248, 233, 17);
            }
            #bootstrapIcon{
                color: blueviolet ;
            }
            #sassIcon{
                color: rgb(231, 0, 0);
            }
            #reactIcon {
                color: rgb(0, 146, 231);
            }
            #reduxIcon{
                color: rgb(156, 0, 156);
            }
            #gitIcon {
                color: rgb(236, 126, 0);
            }
            #npmIcon {
                color: rgb(189, 0, 0);
            }
            .skillsElement{
                @include widthAndHeight(70%, 80%);
                .icon {
                    @include widthAndHeight(100%, 100%);
                    @include flex(center,center);
                    filter:drop-shadow(5px 10px 1px rgba(0, 0, 0, 0.4));
                }
                .skillsText{
                    @include flex(center,center);
                    transform: translateY(2vh);
                    font-size: 1.5rem;
                }
            }
        }
    }
}