@import 'mixins';
#title{
    @include widthAndHeight(100%,100vh);
	@include flex(center,center);
	font-family: 'Playfair Display', serif;
	padding: 1%;
	flex-direction: column;
	margin:auto;
	color: whitesmoke;
	gap: 5%;
	#firstName{
		background-color: rgb(102, 117, 253);
		margin-right: 10%;
	}
	#lastName{
		background-color: blueviolet ;
		margin-left: 10%;
	}
	.titleNameCard{
		width: 40rem;
		max-width: 95%;
		text-align: center;	
		letter-spacing: 0.3vw;
		border-radius: 3px;
		font-size: 6rem;
		box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	#title{
		#firstName{
			background-color: rgb(102, 117, 253);
			margin-right: 0;
		}
		#lastName{
			background-color: blueviolet ;
			margin-left: 0;
		}
		.titleNameCard{
			font-size: 5rem;
		}
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	#title{
		#firstName{
			background-color: rgb(102, 117, 253);
			margin-right: 3%;
		}
		#lastName{
			background-color: blueviolet ;
			margin-left: 3%;
		}
	}
}